@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e1b7bf;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  margin-top: 15px;
}

header ul {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  font-size: 40px;
  font-family: "Pacifico", cursive;
  text-decoration: none;
  color: #59437a;
}

header ul li i {
  color: #c262af;
  font-size: 40px;
  font-weight: 700;
}

#sec1 .row img {
  padding: 20px;
  display: block;
}

#sec1 .row .column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sec1 .row .column2 hr {
  width: 22%;
  border: none;
  border-top: 5px solid #59437a;
  opacity: 1;
}

#sec1 .row .column2 h1 {
  color: #59437a;
  line-height: 50px;
  font-size: 60px;
  font-weight: 700;
}

#sec1 .row .column2 p {
  margin-top: 10px;
}

#sec1 .row .column2 p a {
  color: black;
  text-decoration: none;
  font-style: italic;
  border-bottom: 1px solid #1f1f1f;
}

#sec1 .row .column2 button {
  margin: 20px 0px;
  width: 50%;
  padding: 10px;
  background-color: #c262af;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  letter-spacing: 2px;
  padding: 15px;
}

#sec1 .row .column2 button:hover {
  background-color: #59437a;
}

#sec1 .list ul {
  margin: -64px 40px;
}

#sec1 .list ul li {
  list-style-type: none;
  display: inline-block;
  width: 200px;
  height: 180px;
  margin: 20px 20px 20px 20px;
  padding: 35px;
  color: #59437a;
  background-color: white;
  -webkit-box-shadow: 7px 7px 10px rgba(53, 53, 53, 0.18), -7px -7px 10px rgba(53, 53, 53, 0.18);
          box-shadow: 7px 7px 10px rgba(53, 53, 53, 0.18), -7px -7px 10px rgba(53, 53, 53, 0.18);
}

#sec1 .list ul li span {
  display: block;
  margin: auto;
  width: 80px;
  height: 80px;
  background-color: #efd6db;
  border-radius: 40px;
  padding: 20px;
}

#sec1 .list ul li span img {
  width: 40px;
}

#sec1 .list ul li p {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
}

#sec2 {
  margin: 20px 0px;
  padding-top: 100px;
  padding-bottom: 60px;
  background-color: #59437a;
}

#sec2 .row {
  margin: 0px 60px;
}

#sec2 .row .col1 h4 {
  color: #d4c7e8;
  font-size: 24px;
}

#sec2 .row .col1 h1 {
  color: white;
  font-size: 48px;
  margin-bottom: 20px;
}

#sec2 .row .col1 p {
  color: #d4c7e8;
  font-size: 20px;
}

#sec2 .row .col1 button {
  width: 140px;
  padding: 10px;
  background-color: #c262af;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

#sec2 .row .col1 button:hover {
  background-color: white;
  color: #c262af;
}

#sec2 .row .col2 ul li,
#sec2 .row .col3 ul li {
  list-style-type: "– ";
  color: #d4c7e8;
  font-size: 20px;
}

#sec3 .row .col1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

#sec3 .row .col1 ul li {
  list-style-type: none;
  width: 250px;
  height: 300px;
  padding: 40px 20px 20px 20px;
  margin: 15px;
  background-color: white;
  border-top: 8px solid #59437a;
  text-align: center;
}

#sec3 .row .col1 ul li h3 {
  font-size: 50px;
  font-weight: 700;
  color: #c262af;
}

#sec3 .row .col1 ul li p:first-of-type {
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;
}

#sec3 .row .col1 div {
  margin-left: 25px;
  padding: 20px;
}

#sec3 .row .col1 div h2 {
  color: #59437a;
  font-size: 36px;
  font-weight: 500px;
}

#sec3 .row .col1 div p {
  color: #59437a;
  font-size: 16px;
  padding: 10px 30px 10px 0px;
}

#sec3 .row .col1 div button {
  width: 400px;
  padding: 10px;
  background-color: #c262af;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  letter-spacing: 2px;
}

#sec3 .row .col1 div button:hover {
  background-color: #59437a;
}

#sec3 .row .col2 {
  margin: auto;
  margin-top: 45px;
  padding: 40px 20px 200px 20px;
  background-color: #59437a;
  color: white;
}

#sec3 .row .col2 h6 {
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 5px;
}

#sec3 .row .col2 p {
  font-size: 16px;
  margin-bottom: 35px;
}

#sec3 .row .col2 ul {
  padding-left: 0px;
}

#sec3 .row .col2 ul li {
  display: inline;
  list-style-type: none;
  padding: 5px;
}

#sec4 {
  width: 80%;
  margin: auto;
  color: #59437a;
  margin-top: 40px;
}

#sec4 h1,
#sec4 #p {
  text-align: center;
}

#sec4 h1 {
  font-size: 50px;
  font-weight: 700;
}

#sec4 #p {
  font-size: 20px;
  font-weight: 600;
  max-width: 724px;
  margin: auto;
  padding: 10px 0px 40px 0px;
}

#sec4 .row {
  border-top: 2px solid #59437a;
  padding: 20px 0px 30px 0px;
}

#sec4 .row .col1 {
  padding: 0px;
}

#sec4 .row .col1 p {
  font-size: 16px;
}

#sec4 .row .col2 {
  padding: 0px;
}

#sec4 .row .col2 h5 {
  font-weight: 700;
}

#sec4 .row .col2 h5,
#sec4 .row .col2 p {
  font-size: 20px;
  margin-bottom: 20px;
}

#sec4 #btn {
  text-align: center;
}

#sec4 #btn button {
  padding: 10px;
  background-color: #c262af;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  letter-spacing: 2px;
  padding: 13px 0px;
  width: 200px;
  margin-bottom: 40px;
}

#sec4 #btn button:hover {
  background-color: #59437a;
}

#sec5 {
  padding: 40px 70px;
  background-color: #59437a;
  text-align: center;
}

#sec5 h4 {
  color: #d4c7e8;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
}

#sec5 h1 {
  color: white;
  font-size: 48px;
  font-weight: 700;
}

#sec5 p {
  width: 524px;
  color: #d4c7e8;
  font-size: 20px;
  margin: auto;
  margin-bottom: 40px;
}

#sec5 .row ul {
  margin: 10px 0px;
  color: white;
}

#sec5 .row ul li {
  list-style-type: none;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}

#sec5 .row ul li i {
  font-size: 23px;
  color: #e1b7bf;
}

#sec5 button {
  padding: 10px;
  background-color: #c262af;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  letter-spacing: 2px;
  padding: 15px 40px;
  margin: 30px 0px 10px 0px;
}

#sec5 button:hover {
  color: #c262af;
  background-color: white;
}

#sec6 {
  margin-bottom: 40px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(33%, #e1b7bf), color-stop(33%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, left top, left bottom, color-stop(66%, #59437a), color-stop(66%, #e1b7bf));
  background: linear-gradient(180deg, #e1b7bf 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(180deg, #59437a 66%, #e1b7bf 66%);
}

#sec6 h2 {
  font-size: 60px;
  font-weight: 700;
  color: #c262af;
  margin: 30px 0px 50px 0px;
}

#sec6 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sec6 .row .card {
  width: 350px;
  height: 540px;
  padding: 30px;
  margin: 10px;
  background-color: white;
  -webkit-box-shadow: 7px 7px 10px rgba(53, 53, 53, 0.18), -7px -7px 10px rgba(53, 53, 53, 0.18);
          box-shadow: 7px 7px 10px rgba(53, 53, 53, 0.18), -7px -7px 10px rgba(53, 53, 53, 0.18);
}

#sec6 .row .card img {
  width: 100%;
  margin: auto;
}

#sec6 .row .card h4 {
  font-weight: 400;
  margin: 20px 0px;
}

#sec6 .row .card p {
  font-size: 16px;
}

#sec6 .row .card a {
  text-decoration: none;
  color: #c262af;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 80px;
}

#sec6 p span {
  border-bottom: 1px solid #272727;
}

footer .row {
  margin: 0px;
  padding: 0px;
}

footer .row .col1 {
  padding: 8%;
  border: 1px solid #efd6db;
}

footer .row .col1 h2 {
  font-size: 60px;
  font-weight: 700;
  color: #59437a;
}

footer .row .col1 p {
  font-size: 20px;
  color: #808080;
  width: 70%;
  margin: 20px 0px;
}

footer .row .col1 input {
  display: block;
  margin: 10px 0px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

footer .row .col1 button {
  width: 100%;
  padding: 10px;
  background-color: #c262af;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  letter-spacing: 2px;
  background-color: #59437a;
  font-weight: 400;
}

footer .row .col1 button:hover {
  background-color: #c262af;
}

footer .row .col2 {
  padding: 8%;
  background-color: #59437a;
}

footer .row .col2 div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 10px;
}

footer .row .col2 div #img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #e1b7bf;
  background-image: url("img.png");
  background-size: 140px;
  background-position: center;
  margin-right: 20px;
}

footer .row .col2 div div {
  display: block;
  padding-top: 15px;
  color: #e1b7bf;
}

footer .row .col2 div div h4 {
  font-size: 30px;
  line-height: 20px;
}

footer .row .col2 div div h5 {
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
}

footer .row .col2 p {
  font-size: 22px;
  color: #d4c7e8;
}

footer .row .col2 p:last-child {
  margin-top: 80px;
  font-size: 16px;
}

footer .row .col2 p:last-child span {
  border-bottom: 1px solid #d4c7e8;
}

@media (min-width: 1000px) and (max-width: 1400px) {
  #sec1 .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #sec1 .row img {
    margin: auto;
  }
  #sec3 .row .col1 {
    padding: 0px;
  }
  #sec3 .row .col1 ul {
    padding-left: 0px;
  }
  #sec3 .row .col1 ul li {
    padding: 40px 20px 20px 20px;
  }
  #sec6 .row .card {
    width: 300px;
  }
  #sec6 .row .card2 {
    margin-top: 140px;
  }
  #sec6 .row .card3 {
    margin-top: 280px;
  }
}

@media (min-width: 901px) and (max-width: 999px) {
  #sec2 .row {
    margin: 0px;
  }
  #sec6 .container .row .card {
    width: 300px;
  }
  #sec6 .container .row .card3 {
    width: 70%;
    height: auto;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  #sec1 .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #sec1 .list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px;
  }
  #sec1 .list ul li {
    width: 250px;
    height: 200px;
    padding: 35px;
  }
  #sec1 .list ul li span {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding: 30px;
  }
  #sec1 .list ul li span img {
    width: 40px;
  }
  #sec1 .list ul li p {
    font-size: 18px;
  }
  #sec2 .row {
    margin: 0px;
  }
  #sec2 .row .col {
    margin-bottom: 40px;
  }
  #sec3 .row .col1 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0px;
  }
  #sec3 .row .col1 ul li {
    width: 400px;
    height: 300px;
    margin: 15px auto;
  }
  #sec3 .row .col1 div button {
    width: 250px;
  }
  #sec3 .row .col2 {
    width: 90%;
    margin: 0px 20px auto;
  }
  #sec6 .container .row .card {
    width: 300px;
  }
  #sec6 .container .row .card3 {
    width: 70%;
    height: auto;
  }
  footer .row .col1, footer .row .col2 {
    padding: 50px 20px;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  header {
    margin: 0px 20px;
  }
  #sec1 .row {
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #sec1 .row .column2 h1 {
    font-size: 44px;
  }
  #sec1 .row .column2 button {
    width: 65%;
  }
  #sec1 .list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
  }
  #sec1 .list ul li {
    width: 250px;
    height: 200px;
    padding: 35px;
  }
  #sec1 .list ul li span {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding: 30px;
  }
  #sec1 .list ul li span img {
    width: 40px;
  }
  #sec1 .list ul li p {
    font-size: 18px;
  }
  #sec2 {
    margin: -20% 0px;
    padding-top: 20%;
  }
  #sec2 .row {
    display: block;
  }
  #sec2 .row .col {
    margin-bottom: 40px;
  }
  #sec3 .row .col1 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0px;
  }
  #sec3 .row .col1 ul li {
    width: 400px;
    height: 300px;
    margin: 15px auto;
  }
  #sec3 .row .col1 div button {
    width: 250px;
  }
  #sec3 .row .col2 {
    width: 90%;
    margin: 0px 20px auto;
  }
  #sec4 {
    width: 90%;
  }
  #sec4 .row {
    margin: 0px 15px;
    display: block;
  }
  #sec5 {
    padding: 40px 20px;
  }
  #sec5 h1 {
    font-size: 36px;
  }
  #sec5 p {
    width: 340px;
  }
}

@media (max-width: 399px) {
  #sec1 {
    margin: 0px;
    padding: 0px;
  }
  #sec1 .row img {
    padding: 0px;
    width: 200px;
  }
  #sec1 .row .column2 h1 {
    font-size: 30px;
  }
  #sec1 .row .column2 button {
    width: 150px;
  }
  #sec1 .list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    margin: -64px 20px;
  }
  #sec2 .row {
    margin: 10px;
  }
  #sec2 .row .col1 h1 {
    font-size: 30px;
  }
  #sec2 .row .col1 p {
    font-size: 16px;
  }
  #sec2 .row .col2 ul, #sec2 .row .col3 ul {
    padding: 0px;
  }
  #sec2 .row .col2 ul li, #sec2 .row .col3 ul li {
    font-size: 16px;
  }
  #sec3 .row .col1 ul {
    padding: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #sec3 .row .col1 ul li {
    padding: 20px 10px;
  }
  #sec3 .row .col1 div {
    margin: 12px;
    padding: 0px;
  }
  #sec3 .row .col1 div h2 {
    font-size: 20px;
  }
  #sec3 .row .col1 div button {
    width: 185px;
  }
  #sec3 .row .col2 {
    width: 90%;
    margin: 10px auto;
  }
  #sec4 {
    margin: 40px 0px;
    width: 90%;
    padding: 0px;
  }
  #sec4 h1 {
    font-size: 36px;
  }
  #sec4 .row {
    margin: 0px 10px;
  }
  #sec5 {
    padding: 40px 20px;
  }
  #sec5 h1 {
    font-size: 30px;
  }
  #sec5 p {
    width: 150px;
  }
  #sec5 .row ul {
    padding: 0px;
  }
  #sec5 .row ul li {
    font-size: 16px;
  }
  #sec5 button {
    padding: 15px 20px;
  }
  #sec6 h2 {
    font-size: 30px;
  }
  footer .row .col2 div {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */